/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.scrollbar-thin {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #6b72ab;
  }
}

.h-card {
  height: calc(100vh - 6em);
  min-height: calc(100vh - 6em);
  max-height: calc(100vh - 6em);
}
